## exercise simple iterations

1.1 exercise

In [1]:
for i in range(10, 31):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [2]:
for i in range(10, 31, 3):
    print(i)

10
13
16
19
22
25
28

1.2 exercise

In [3]:
for i in range(10, 31):
    if (i % 5) == 0:
        print(i)

10
15
20
25
30

1.3 exercise

In [4]:
for i in range(1, 6, 2):
    print("*"*i)

*
***
*****

1.4 exercise

In [6]:
a = 3
for i in range(1, 6, 2):
    a = a - 1
    print(" "*a+"*"*i)

  *
 ***
*****

1.5 exercise

In [16]:
num = input ("please, enter a number ")
resul = 1
for i in range(int(num), 0, -1):
    resul *= i
print("factorial is",resul)

please, enter a number 12
factorial is 479001600

In [18]:
import math
math.factorial(12) # n is the positive integer for which we want to calculate the factorial

479001600

2.1 exercise

In [20]:
x = [12,43,4,1,6,343,10, 34, 12, 93, 783, 330, 896, 1, 55]
for i in x:
    if i % 3 == 0:
        print(i)

12
6
12
93
783
330

2.2 exercise

In [30]:
x = [12,43,4,1,6,343,10, 34, 12, 93, 783, 330, 896, 1, 55]
output_list = []
for i in x:
    if (str(i)[len(str(i))-1]) == '3':
        output_list.append(i)
output_list

[43, 343, 93, 783]

2.3 exercise

In [31]:
min(x)

1

In [32]:
minimum=x[0]
for i in x:
    if i < minimum:
        minimum = i
print(minimum)

1

2.4 exercise

In [33]:
max(x)

896

In [36]:
maximum=x[0]
for i in x:
    if i > maximum:
        maximum = i
print(maximum)

896

3.1 exercise

In [37]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

In [38]:
word_freq

{'love': 25,
 'conversation': 1,
 'every': 6,
 "we're": 1,
 'plate': 1,
 'sour': 1,
 'jukebox': 1,
 'now': 11,
 'taxi': 1,
 'fast': 1,
 'bag': 1,
 'man': 1,
 'push': 3,
 'baby': 14,
 'going': 1,
 'you': 16,
 "don't": 2,
 'one': 1,
 'mind': 2,
 'backseat': 1,
 'friends': 1,
 'then': 3,
 'know': 2}

In [39]:
for key, value in word_freq.items():
    if value < 3:
        print (key)

conversation
we're
plate
sour
jukebox
taxi
fast
bag
man
going
don't
one
mind
backseat
friends
know

3.2 exercise

In [46]:
freq = list(word_freq.values())[0]
word = list(word_freq.keys())[0]
for key, value in word_freq.items():
    if value > freq:
        freq = value
        word = key
word

'love'